.promotionField{
    margin-top: 5px;
    height: 265px;
    background-color: #DCE1DA;
    text-align: center;
    padding-top: 12px;
}

.prootionField__mainTitle, .prootionField__conditionsTitle, .prootionField__additionallyTitle{
    color: #323334;
    font-weight: 400;
    font-size: 38px;
    font-family: 'Roboto', sans-serif;
}

.prootionField__additionallyTitle{
    font-size: 18px;
}