<div  [class.catalog-field]="catalogStatus">
    <p class="catalog-field__main-title">CATALOG</p>
    <p class="catalog-field__second-title">It's easy to transform your bedroom interior with our great selection of
        accessories.</p>
    <div class="catalog-field__filter">
        <div class="filter__icon pi pi-filter" (click) = "changeFilterStatus()"></div>
        <p class="filter__title" (click) = "changeFilterStatus()" [class.selected-mod]="catalogStatus">FILTER & SORT</p>

        <div class="filer-mode">
            <p class="filter-mode__title"(click) = "changeModeStatus('Models')" [class.selected-mod]="modeStatus === 'Models'">Models</p>
            <p class="filter-mode__title" (click) = "changeModeStatus('Products')" [class.selected-mod] = "modeStatus === 'Products'">Products</p>
        </div>
    </div>
    <div class="catalog-field__card-field">
        <app-catalog-card *ngFor="let cardInfo of ObjectForDrawing" [cardInfo]="cardInfo"></app-catalog-card>
    </div>
</div>