@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '../../../variables';

.catalog-field {
    position: absolute;
    left: 0;
    right: 0;

    &__card-field {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;

        &-empty{
            margin-top: 10px;
            &__title{
                font-family: 'Roboto', sans-serif;
                font-size: 28px;
                font-weight: 400;
                color: $font-color;
            }
        }
    }

    .selected-mod {
        color: $selected-mod;
    }
}

.filter-enabled {
    margin-left: 250px;
}