@import "primeicons/primeicons.css";

.mainMenu {
    display: flex;
}

.mainTittle {
    font-family: 'Roboto', sans-serif;
    color: #323334;
    font-size: 28px;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 35px;
}

.iconField {
    display: flex;
    margin-left: auto;
    margin-right: 70px;
}

button {
    border: 0px;
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
}

.pi{
    font-size: 24px;
}