<div class="main-menu" [class.active-search]="searchStatus">
    <p class="main-menu__tittle" (click)="navigateToHome()">MOODY STORE</p>

    <div class="main-menu-actions">
        <p class="main-menu-actions__email" *ngIf="email">{{ email.slice(0, email.indexOf('@')) }}</p>
        <app-search class="main-menu-actions__search-field" [class.authActive]="email"
            *ngIf="searchStatus"></app-search>
        <button class="main-menu-actions__search pi pi-search" (click)="changeSearchInput()"></button>
        <button class="main-menu-actions__user pi pi-user" (click)="navigateToProfile()"></button>
        <div class="main-menu-actions__cart-field" (click)="navigateToCart()">
            <button class="main-menu-actions__cart pi pi-shopping-cart"></button>
            <div class="main-menu-actions__cart-value" *ngIf="cartItemCount > 0">{{cartItemCount}}</div>
        </div>
        <div class="main-menu-actions__wishlist-field" (click)="navigateToWishlist()">
            <button class="main-menu-actions__wishlist pi pi-heart"></button>
            <div class="main-menu-actions__wishlist-value" *ngIf="wishlistItemCount > 0">{{wishlistItemCount}}</div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>