@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "./variables";

.main-menu {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px solid $font-color;

    &__tittle {
        font-family: 'Roboto', sans-serif;
        color: $font-color;
        font-size: 28px;
        font-weight: bold;
        margin-top: 35px;
        cursor: pointer;
    }

    &-actions {
        align-items: center;
        display: flex;
        margin-left: auto;

        &__search-field {
            position: absolute;
            top: 110px;
            right: 0;
            margin-right: 5%;
            z-index: 2;
        }

        &__email {
            font-family: 'Roboto', sans-serif;
            color: $font-color;
            font-size: 20px;
            font-weight: 500;
            margin-left: 10px;
        }

        &__search,
        &__user,
        &__wishlist {
            border: 0px;
            background-color: white;
            font-size: 24px;
            margin-right: 10px;
            cursor: pointer;
        }

        &__cart-field,
        &__wishlist-field {
            margin-right: 10px;
            cursor: pointer;

            .main-menu-actions__cart {
                border: 0px;
                background-color: white;
                font-size: 24px;
                cursor: pointer;
            }

            .main-menu-actions__cart-value,
            .main-menu-actions__wishlist-value {
                position: absolute;
                margin-left: 20px;
                margin-top: -35px;
                background-color: red;
                color: white;
                border-radius: 50%;
                padding: 3px 7px;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}