<div class="main-menu">
    <p class="main-menu__tittle" (click)="navigateToHome()">MOODY STORE</p>

    <div class="main-menu-actions">
        <button class="main-menu-actions__search pi pi-search"></button>
        <button class="main-menu-actions__user pi pi-user" (click)="navigateToProfile()"></button>
        <button class="main-menu-actions__cart pi pi-shopping-cart" (click)="navigateToCart()"></button>
        <button class="main-menu-actions__wishlist pi pi-heart" (click)="navigateToWishlist()"></button>
    </div>
</div>

<div class="dividing__line"></div>

<router-outlet></router-outlet>