<div *ngIf="filterLoaded" class="filter">
    <p-megaMenu [model]="megaMenuItems" orientation="vertical" />

    <p class="filter__title">Gender</p>
    <div class="filter__gender" *ngFor="let item of filters.Gender">
        <input type="checkbox">
        <p class="filter__arrivals-item">{{item}}</p>
    </div>

    <p class="filter__title">Color</p>
    <div class="filter__color">
        <div class="color__block" *ngFor="let item of filters.Color" [style.background-color]="item"></div>
    </div>

    <p class="filter__title">Price</p>
    <div class="filter__gender" *ngFor="let item of filters.Price | keyvalue">
        <input type="checkbox">
        <p class="filter__arrivals-item">{{item.value.min}}$ - {{item.value.max}}$</p>
    </div>
</div>