<div *ngIf="filterLoaded" class="filter">
    <p-tree [value]="treeMenuItems" selectionMode="checkbox" (selectionChange)="selectionChange($event)">
    </p-tree>

    <p class="filter__title">Gender</p>
    <div class="filter__gender" *ngFor="let item of filters.Gender">
        <p class="filter__arrivals-item" (click)="filterSearch(item)"
            [class.active]="selectedItems.typeProduct.includes(item)">
            {{item}}
        </p>
    </div>


    <p class="filter__title">Color</p>
    <div class="filter__color">
        <div class="color__block" *ngFor="let item of filters.Color" [style.background-color]="item"
            (click)=filterColorSearch(item) [class.activeColor]="selectedItems.Color.includes(item)"></div>
    </div>

    <p class="filter__title">Price</p>
    <div class="filter__gender" *ngFor="let item of filters.Price | keyvalue">
        <input type="checkbox" (click)="filterPriceSearch(item.value.min, item.value.max)">
        <p class="filter__arrivals-item" (click)="filterPriceSearch(item.value.min, item.value.max)"
            [class.active]="selectedItems.price.hasOwnProperty(item.key)">{{item.value.min}}$ - {{item.value.max}}$</p>
    </div>
</div>