<div class="product" *ngIf="cardInfo && !errorLoading">
    <div class="first-level-content">
        <div class="image-content">
            <p-image *ngFor="let imageUrl of cardInfo.image" src="{{imageUrl}}" alt="Image" width="100%" />
        </div>
        <div class="buy-content">
            <div class="buy-content__first-level">
                <p class="buy-content__name">{{cardInfo.name}}</p>
                <div class="pi pi-heart" (click)="updateWishlist()" (click)="$event.stopPropagation()"
                    [ngStyle]="{'color': btnWishlistColor}"></div>
            </div>
            <p class="buy-content__price">{{cardInfo.price}} $</p>
            <p-button class="buy-content__button" *ngIf="!addedToCart" label="Add to shopping bag"
                (click)="addToShopingBag()" />
            <div class="buy-content-change-cart" *ngIf="addedToCart">
                <p class="buy-content-change-cart__less" (click)="changeProductQuality(-1)">-</p>
                <p class="buy-content-change-cart__count">{{productQuantity}}</p>
                <p class="buy-content-change-cart__more" (click)="changeProductQuality(1)">+</p>
            </div>
        </div>
    </div>
    <p-card class="description-field">
        <p class="description__header">DESCTIPTION</p>
        <p class="description__content">{{cardInfo.description}}</p>
        <p class="description__art">Art - {{cardInfo.art}}</p>
    </p-card>
</div>